[
    {
        "name": "myService",
        "url": "useSomeSafeHere-WithThisURLEveryoneCanDeployYourService",
        "action": {
            "type": "pm2",
            "pm2name": "myService",
            "directory": "/home/myService/"
        }
    }
]